<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <p>
    Welcome <%= @user.name.titleize %> to Odin Facebook!, hope you enjoy our social media.
    </p>
  </body>
</html>
