<h1><%= @user.name.titleize %> profile:</h1>
<%= render partial: 'users/profile_info', locals: { user: @user } %>
<%= render partial: 'users/friends', locals: { user: @user } %>
<h2>Posts:</h2>
<%= render partial: 'posts/posts_loop', locals: { posts: @user.posts } %>
