<% unless post.comments.empty? %>
  <ul>
    <% post.comments.each do |comment| %>
      <li>
        <p><%= comment.user.name.titleize %></p>
        <p><%= comment.body %></p>

        <% if comment.created_by_user?(current_user) %>
          <p><%= link_to "Delete comment", comment_path(comment), method: "delete" %></p>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
