<p>
  Likes: <%= post.likes.count %>, 
  <% if Like.user_liked_post?(current_user, post) %>
    <% like = Like.user_like(current_user, post) %>
    <%= link_to 'Dislike', like_path(id: like.id), method: "delete" %>
  <% else %>
    <%= link_to 'Like', post_likes_path(post, user_id: current_user.id), method: "post" %>
<% end %>
</p>
